// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }
    @else {
        @content;
    }
}

// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

// Creates text alignment classes based on screen size
// TODO this would be nice to add to the framework
@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        // Provide text `[text-{bp}]` attributes for aligning text based on screen size
        [text#{$infix}-center] {
            text-align: center;
        }
        [text#{$infix}-left] {
            text-align: left;
        }
        [text#{$infix}-right] {
            text-align: right;
        }
        [hidden#{$infix}-up] {
            display: none;
        }
    }
    @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
        [hidden#{$infix}-down] {
            display: none;
        }
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: $color;
    }
}

// glb form
input,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    background-color: white;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 transparent inset, 0 0 0 1px #e0e0e0 inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    max-width: 100%;
    outline: 0;
    padding: 8px;
    transition: box-shadow .15s;
    vertical-align: middle;
    -webkit-appearance: none;
    max-height: 36px;
    &.ng-touched.ng-invalid:focus {
        -moz-box-shadow: 0 -2px 0 #ff5252 inset, 0 0 0 1px #e0e0e0 inset;
        box-shadow: 0 -2px 0 #ff5252 inset, 0 0 0 1px #e0e0e0 inset;
    }
    &:active,
    &:focus {
        box-shadow: 0 -2px 0 #039be5 inset, 0 0 0 1px #e0e0e0 inset;
    }
}

.form-groups {
    padding-bottom: 32px;
    position: relative;
    &:after {
        clear: both;
        content: '';
        display: table;
    }
    label {
        display: block;
        color: #333;
        font-size: 14px;
        font-family: roboto, "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        font-weight: bold;
        padding-bottom: 6px;
    }
    input,
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="number"],
    input[type="email"],
    textarea {
        background-color: white;
        border: 0;
        border-radius: 0;
        box-shadow: 0 0 0 transparent inset, 0 0 0 1px #ebebeb inset;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        max-width: 100%;
        outline: 0;
        padding: 8px;
        transition: box-shadow .15s;
        vertical-align: middle;
        -webkit-appearance: none;
        width: 100%;
        max-height: 36px;
        &:focus {
            -webkit-box-shadow: 0 -2px 0 #039be5 inset, 0 0 0 1px #ebebeb inset;
            box-shadow: 0 -2px 0 #039be5 inset, 0 0 0 1px #ebebeb inset;
        }
        &:disabled {
            background-color: #fafafa;
        }
        &.ng-touched.ng-invalid:focus {
            -moz-box-shadow: 0 -2px 0 #ff5252 inset, 0 0 0 1px #e0e0e0 inset;
            box-shadow: 0 -2px 0 #ff5252 inset, 0 0 0 1px #e0e0e0 inset;
        }
    }
}

.er-message {
    position: absolute;
    width: 100%;
}

.er-message div {
    color: #ff5252;
    width: 100%;
    margin-top: 8px;
    font-size: 11px;
}

.er-message div:after {
    font-family: "Ionicons";
    font-size: 16px;
    content: "\f268";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

// end glb form
.header {
    .app-navbar {
        // box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
        height: 52px;
        .toolbar-background {
            background-color: #3F51B5;
            border: none;
        }
        .toolbar-title {
            color: #fff;
        }
        .user-pro {
            height: 34px;
            width: 34px;
            overflow: hidden;
            border-radius: 50%;
            float: right;
            margin-right: 8px;
            cursor: pointer;
        }
        .back-button-icon {
            font-size: 24px;
            color: #fff;
        }
        .back-button-text {
            color: #fff;
        }
    }
    .segment-btn {
        border-color: #fff;
        color: #333;
        letter-spacing: .50px;
        background-color: #fff;
        border: none;
        border-bottom: 2px solid #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        border-radius: 0 !important;
        &.segment-activated,
        &.activeSegment {
            background-color: #fff;
            color: #3F51B5;
            font-weight: 600;
            border-bottom: 2px solid #3F51B5;
        }
    }
    ion-segment {
        // box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
    }
    .feed {
        background-color: transparent;
        display: flex;
        float: right;
        align-items: center;
        height: 34px;
        margin-right: 16px;
        position: relative;
        svg path {
            fill: #f9f9f9;
        }
        .feed-num {
            position: absolute;
            color: #fff;
            font-size: 9px;
            top: 1px;
            background-color: red;
            padding: 2px 3px;
            border-radius: 2px;
            right: 2px;
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}

.flx1 {
    flex: 1;
}

.outer-content {
    background-color: #fff !important;
    color: #333;
}

.border-top {
    border-top: 1px solid #233342;
}

.side-list-header-wrapper {
    .lv-title {
        font-size: 18px;
        margin-bottom: 8px;
        margin-top: 8px;
        color: #333;
        font-weight: 500;
    }
    .ls-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: initial;
    }
    .l-block-show {
        display: flex;
        align-items: center;
        img {
            width: 34px;
            height: 34px;
            margin-right: 8px;
        }
        .ls-title {
            color: #333;
            font-weight: 500;
            font-weight: 16px;
        }
    }
    .completed {
        font-size: 10px;
        margin-right: 16px;
    }
}

.side-lists-wrapper {
    // margin: 0 !important;
    ion-list-header {
        border: none;
    }
    ion-label {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .ls-item {
        display: flex;
        align-items: center;
        span {
            font-weight: 500;
        }
        .qs-am {
            margin-left: 8px;
            font-weight: 500;
        }
    }
    .cmpc {
        font-size: 12px;
        font-weight: 500;
    }
    ion-icon {
        color: #333;
        font-size: 16px;
        margin-right: 8px;
        &.icon-ios-primary {
            color: #3F51B5;
        }
    }
    .item {
        background-color: #fff;
        color: #333;
        // text-transform: uppercase;
        font-size: 14px;
        &:first-child,
        {
            border-top: none;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .item-ios-primary {
        background-color: #fafafa;
        // color: #3F51B5;
    }
    .item-block .item-inner {
        border: none;
        background-image: none !important;
        padding-right: 16px !important;
    }
}

.user-pro-blg {
    padding: 24px 16px;
    display: flex;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    .user-pro {
        height: 66px;
        width: 66px;
        overflow: hidden;
        border-radius: 50%;
        float: right;
        margin-right: 8px;
    }
}

.my-taskbar {
    .tabbar {
        background-color: #fff;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
        border: none;
        .tab-button {
            border-bottom: 2px solid transparent;
            font-size: 12px;
            color: #263238;
            .tab-button-icon {
                color: #263238;
            }
        }
        .tab-button[aria-selected=true] {
            color: #3F51B5;
            // border-bottom: 2px solid #3F51B5;
            .tab-button-icon {
                color: #3F51B5;
            }
        }
    }
}

.menu-icon {
    color: #fff;
}

.app-content {
    background-color: #fafafa;
    .scroll-content {
        padding: 0 !important;
    }
    .cs-swiper-slide {
        // height: 100%;
        // overflow-y: auto;
        .slide-zoom {
            height: 100%;
            overflow-y: auto;
        }
    }
}

.app-sc-content {
    // overflow-y: auto;
    // height: 100vh;
    .app-sc-data {
        height: 100%;
    }
}

.app-cart {
    margin: 0;
    height: max-content;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    line-height: 1.5;
    .ls-btn-continue {
        background-color: #3F51B5;
        color: #fff;
        padding: 16px 32px;
        border-radius: 35px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        letter-spacing: .50px;
        width: 100%;
        margin: 0 auto;
    }
    .bg-block {
        // background: radial-gradient(300px circle at 73% 60%, #1565C0, rgba(69, 28, 84, 0)), radial-gradient(280px circle at 52% 70%, #3F51B5, rgba(220, 123, 67, 0)), radial-gradient(421px circle at 82% 82%, rgba(197, 197, 145, .95), rgba(197, 197, 145, 0)), radial-gradient(450px circle at 42% 65%, #0D47A1, rgba(192, 40, 89, 0)), radial-gradient(480px circle at 40% 75%, #0D47A1, rgba(192, 40, 89, 0)), radial-gradient(480px circle at 38% 95%, #0D47A1, rgba(192, 40, 89, 0)), radial-gradient(435px circle at 65% 73%, rgba(235, 188, 143, 1), rgba(235, 188, 143, 0)), radial-gradient(850px circle at right top, #0D47A1, #0D47A1, rgba(209, 64, 97, .4), rgba(209, 64, 97, 0)), radial-gradient(422px circle at right 75%, rgba(35, 173, 149, .95), rgba(35, 173, 149, 0)), radial-gradient(350px circle at right 50%, rgba(204, 116, 96, 1), rgba(204, 116, 96, 0)), radial-gradient(300px circle at right bottom, rgba(169, 82, 160, 1), rgba(169, 82, 160, 0)), linear-gradient(to right bottom, rgba(71, 17, 77, 0), rgba(71, 17, 77, 0.95) 40%, rgba(71, 17, 77, 0.5) 60%, rgba(71, 17, 77, 0)), linear-gradient(to right, #1c062d, #0D47A1);
        // min-height: 40%;
        position: relative;
        overflow: hidden;
        height: 256px;
        display: block;
        &:after {
            position: absolute;
            content: '';
            background-color: rgba(0, 0, 0, .2);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        &:before {
            position: absolute;
            content: '';
            background-color: #3F51B5;
            bottom: 0;
            height: 4px;
            width: 36%;
            z-index: 2;
        }
        img {
            width: 100%;
            // height: 100%;
            display: block;
            position: relative;
            margin: 0 auto;
        }
    }
    .app-c-content {
        padding-top: 44px;
        text-align: center;
        padding-bottom: 44px;
        .ls-title {
            font-size: 24px;
            color: #333;
            font-weight: 600;
            margin-bottom: 8px;
        }
        .ls-sub-title {
            color: #666;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 16px;
        }
        .ls-desc {
            color: #333;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 16px;
        }
    }
}

.login-wrapper {
    background: radial-gradient(300px circle at 73% 60%, #1565C0, rgba(69, 28, 84, 0)), radial-gradient(280px circle at 52% 70%, #3F51B5, rgba(220, 123, 67, 0)), radial-gradient(421px circle at 82% 82%, rgba(197, 197, 145, .95), rgba(197, 197, 145, 0)), radial-gradient(450px circle at 42% 65%, #0D47A1, rgba(192, 40, 89, 0)), radial-gradient(480px circle at 40% 75%, #0D47A1, rgba(192, 40, 89, 0)), radial-gradient(480px circle at 38% 95%, #0D47A1, rgba(192, 40, 89, 0)), radial-gradient(435px circle at 65% 73%, rgba(235, 188, 143, 1), rgba(235, 188, 143, 0)), radial-gradient(850px circle at right top, #0D47A1, #0D47A1, rgba(209, 64, 97, .4), rgba(209, 64, 97, 0)), radial-gradient(422px circle at right 75%, rgba(35, 173, 149, .95), rgba(35, 173, 149, 0)), radial-gradient(350px circle at right 50%, rgba(204, 116, 96, 1), rgba(204, 116, 96, 0)), radial-gradient(300px circle at right bottom, rgba(169, 82, 160, 1), rgba(169, 82, 160, 0)), linear-gradient(to right bottom, rgba(71, 17, 77, 0), rgba(71, 17, 77, 0.95) 40%, rgba(71, 17, 77, 0.5) 60%, rgba(71, 17, 77, 0)), linear-gradient(to right, #1c062d, #0D47A1);
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Orbitron:700');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
.logo {
    .title {
        // font-family: 'Abril Fatface', cursive;
        // font-family: 'Ubuntu', sans-serif;
        // font-family: 'Orbitron', sans-serif;
        // font-family: 'Righteous', cursive;
        font-family: 'Audiowide', cursive;
        color: #FFF;
        letter-spacing: .44px;
        padding: 0 32px;
        font-size: 28px;
        // font-weight: bold;
        margin: 0 0 18px;
        // text-shadow: -0.0375em 0 0 rgba(48, 48, 48, 0.1);
        // text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
        text-shadow: 0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
    }
}

.login-form {
    padding: 0 32px;
    .form-groups {
        input,
        input[type="text"],
        input[type="password"],
        input[type="url"],
        input[type="number"],
        input[type="email"],
        textarea {
            background-color: rgba(255, 255, 255, 0.1);
            min-height: 44px;
            @include placeholder-color(#f4f4f4);
            color: #fff;
        }
    }
    .login-btn {
        background-color: #fff;
        display: block;
        color: #333;
        width: 100%;
        font-weight: 600;
    }
    .acc-create-link {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        margin-top: 16px;
        cursor: pointer;
    }
}

.no-span {
    display: table;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    overflow: hidden;
    margin-top: 8px;
    &:before,
    &:after {
        border-top: 1px solid #f4f4f4;
        content: '';
        display: table-cell;
        position: relative;
        top: 0.5em;
        width: 45%;
    }
    &:before {
        right: 1.5%;
    }
    &:after {
        left: 1.5%;
    }
}

.ticket-wrapper {
    background-color: #fff;
    margin: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 0;
    .ticket-list-item {
        display: flex;
        border-bottom: 1px solid #ebebeb;
        cursor: pointer;
        padding: 12px;
        &:last-child {
            border: none;
        }
        .avatar-img {
            margin-right: 12px;
            background-color: #fafafa;
            height: 64px;
            width: 64px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
    .info {
        p,
        h2 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 12px;
        }
    }
}