<ion-header>
    <ion-navbar class="app-navbar">
        <page-header></page-header>
    </ion-navbar>

    <!-- 
    <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="current" class="segment-btn">
            Current
        </ion-segment-button>
        <ion-segment-button value="all" class="segment-btn">
            All
        </ion-segment-button>
    </ion-segment> -->
    <!-- <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="first">
            First
        </ion-segment-button>
        <ion-segment-button value="second">
            Second
        </ion-segment-button>

    </ion-segment> -->
    <!-- <ion-segment [(ngModel)]="segmentModel">
        <ion-segment-button value="segmentOne" class="segment-btn">
            Current lesson
        </ion-segment-button>
        <ion-segment-button value="segmentTwo" class="segment-btn">
            All lesson
        </ion-segment-button>

    </ion-segment> -->
    <!-- <ion-segment>
        <ion-segment-button (click)="select(0)" class="segment-btn" [ngClass]="{activeSegment: selected===0}">
            Current lesson

        </ion-segment-button>
        <ion-segment-button (click)="select(1)" class="segment-btn" [ngClass]="{activeSegment: selected===1}">
            All lesson
        </ion-segment-button>
    </ion-segment>
    <div id='indicator' class="indicatorSegment"></div> -->
</ion-header>

<ion-content padding class="app-content">
    <!-- <ion-slides (pan)="panEvent($event)" #mySlider (ionDrag)="onSlideChanged($event)" class="cs-swiper-slide">
        <ion-slide>
            <div class="app-sc-content">
                <div class="app-sc-data">
                    <ion-card class="app-cart" *ngFor="let item of recents">
                        <div class="bg-block">
                            <img src="{{item.UrlString}}/{{item.LessonImage}}">
                        </div>
                        <ion-card-content class="app-c-content">
                            <h2 class="ls-title"></h2>
                            <p class="ls-sub-title">{{item.CurriculumName}}</p>
                            <p class="ls-desc">{{item.LessonDescription}}</p>
                            <button class="ls-btn-continue">Continue</button>
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
        </ion-slide>
    </ion-slides> -->
    <div class="app-sc-content">
        <div class="app-sc-data">
            <div class="app-header">
                <h1 class="title">
                    Recents
                </h1>
                <ion-searchbar></ion-searchbar>
            </div>

            <ion-card class="app-cart-box">

                <ion-card-content>
                    <div class="app-c-content" *ngFor="let item of recents">
                        <div class="block-info">
                            <div class="left">
                                <img class="img" src="{{item.UrlString}}/{{item.LessonImage}}" alt="{{item.LessonName}}">
                                <h1 class="ls-title ls-up">{{item.CurriculumName}}</h1>
                                <h2 class="ls-title ">{{item.LessonName}}</h2>
                                <p class="desc">{{item.LessonDescription}}</p>
                            </div>
                            <div class="right">
                                <button class="btn-continue">Continue</button>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card class="app-cart-box">
                <ion-card-header>
                    <span class="rd">Remaining day </span>
                    <h1 class="title">
                        Sectember 10
                    </h1>
                </ion-card-header>
                <ion-card-content>
                    <div class="app-c-content rd-app-c-content">
                        <div class="block-info">
                            <div class="left">
                                <div class="rm-icon">
                                    <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                                </div>
                                <div class="rmd-block">
                                    <h2 class="ls-title ">68</h2>
                                    <h2 class="ls-title ">Days</h2>
                                </div>

                                <p class="desc">
                                    <strong>Thurday, Sectember 10 2010</strong> Start class
                                </p>
                            </div>

                        </div>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card class="app-cart-box">

                <ion-card-content>
                    <div class="app-c-content app-c-content-st">
                        <div class="block-info st-block-info">
                            <div class="st-list-header">
                                <span class="rd">Statistics</span>
                                <h1 class="title">
                                    STILL HUNGRY
                                </h1>
                            </div>
                            <div class="st-list">
                                <div class="st-list-col">

                                    <div class="flex-st">
                                        <div class="st-icon cm">
                                            <ion-icon ios="ios-color-filter" md="md-color-filter"></ion-icon>
                                        </div>

                                        <div class="info">
                                            <h3 class="inf-title">Completed</h3>
                                            <span class="inf-status">Lesson in percentage</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-list-col">
                                    <div class="st-pct">
                                        0.35 %
                                    </div>
                                </div>
                            </div>
                            <div class="st-list">
                                <div class="st-list-col">

                                    <div class="flex-st">
                                        <div class="st-icon cr">
                                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                                        </div>

                                        <div class="info">
                                            <h3 class="inf-title">Correct</h3>
                                            <span class="inf-status">Lesson in percentage</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-list-col">
                                    <div class="st-pct">
                                        0.04%
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
            <ion-card class="app-cart-box">

                <ion-card-content>
                    <div class="app-c-content app-c-content-st">
                        <div class="block-info st-block-info">
                            <div class="st-list-header">
                                <span class="rd">Statistics</span>
                                <h1 class="title">
                                    UPPER-INTERMEDIATE
                                </h1>
                            </div>

                            <div class="st-list">
                                <div class="st-list-col">

                                    <div class="flex-st">
                                        <div class="st-icon cm">
                                            <ion-icon ios="ios-color-filter" md="md-color-filter"></ion-icon>
                                        </div>

                                        <div class="info">
                                            <h3 class="inf-title">Completed</h3>
                                            <span class="inf-status">Level in percentage</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-list-col">
                                    <div class="st-pct">
                                        5.56 %
                                    </div>
                                </div>
                            </div>
                            <div class="st-list">
                                <div class="st-list-col">

                                    <div class="flex-st">
                                        <div class="st-icon cr">
                                            <ion-icon name="checkmark-circle-outline"></ion-icon>

                                        </div>

                                        <div class="info">
                                            <h3 class="inf-title">Correct</h3>
                                            <span class="inf-status">Level in percentage</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-list-col">
                                    <div class="st-pct">
                                        0.62 %
                                    </div>
                                </div>
                            </div>
                            <div class="st-list">
                                <div class="st-list-col">

                                    <div class="flex-st">
                                        <div class="st-icon cml">
                                            <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>
                                        </div>

                                        <div class="info">
                                            <h3 class="inf-title">Completed </h3>
                                            <span class="inf-status">Level in lessons</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-list-col">
                                    <div class="st-pct">
                                        0/14
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>


        </div>
    </div>
</ion-content>